:root{
    --cor-1: #4B4E6D;
    --cor-2: #84DCC6;
    --cor-3: #7A918D;
    --cor-4: #DD6031;
    --cor-5: #FED766;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 900px;
    margin: auto;
    padding: 0 2%;
}
